# ================================================================================================

# UNDERSTAND PAGES WITHOUT .PHP END; FOR EXAMPLE -> /INDEX.PHP AND JUST /INDEX <- BOTH WORK
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]
# ================================================================================================

# NO PUBLIC ACCESS TO .htaccess file
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>
# ================================================================================================

# SET SERVER TIMEZONE TO OUR LOCAL TIMEZONE -> GOOD FOR EVADING PROBLEMS WITH mkdate AND date IN PHP

SetEnv TZ Europe/Budapest
# ================================================================================================
